<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web interface</title>
    <link rel="stylesheet" href="static/adm_style.css">
</head>
<body>
    <a class="main-btn" href="{{url_for('index')}}"><input type="button" value="На Главную"></a>
    <div class="modal">
        <h1>Ошибка связи с камерой!!!</h1>
    </div>
    <h1 class="lbl">Images saved</h1>
    <div id="counter">333</div>
    <div class="buttons">
        <input class="stop" type="button" value="Stop Monitoring">
        <input class="start" type="button" value="Start Monitoring">
    </div>
    <div id="is_monitoring"></div>
    <div class="select_bar">
        <select>
            {% for item in select_list %}
                {% if loop.index0 == ind %}
                    <option value="{{ item }}" selected>{{ item }}</option>
                {% else %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <button id="set-point">Изменить уставку</button>
    </div>
    <script type="application/javascript" src="{{ url_for('static', filename='flasksocket-admin.js') }}"></script>
</body>
</html>